.container{
    background-color: #282c34;
    padding-top: 1rem;
}
.table-container{
    background-color: white;
    height: 80vh;
    overflow-y: scroll;
    padding-top: 1rem;
}
.header-button{
    height: 100%;
    width: 100%;
    color: white;
}

thead {
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 1;

}
.header{
    position: sticky;
    top: 0;
    border-color: black;
    box-shadow: inset 1px -1px #000;
}
.tbody-container{
    display: block;
    height: 80vh;
    overflow-y: scroll;
    background-color: white;
}